*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}

#cryptonav{
    font-size: 40px;
    margin-left: 40px;
    transition: 0.3s;
    font-family: dosG;
}
#cryptonav:hover{
    color: rgb(239, 184, 16);
}
#navi {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
    margin-right: 20px;
    margin-top: 12px;
    display: inline-block;
    position: relative;
    font-family: unoR;
    height: 40px;
    
}

#navi:hover {
    color: rgb(239, 184, 16);
    transition: 0.5s;
}

#navi:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(239, 184, 16);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#navi:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navvi li:last-child {
    border-right:none;
}
#barranav{
    height: 110px;
    background-color: black;
}

.imagenmain{
    width: 100%;
    margin-top: 50px;
}

.btc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btc1{
    margin-top: 100px;
    margin-bottom: 20px;
    height: 170px;
    width: 170px;
    border-radius: 100px;
}

.quienessomos{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-family: dosG;
}

.quienessomos1{
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    font-family: unoR;
}

#iconosflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-card-header{
    color: rgb(0, 0, 0);
    font-size: 70px;
}



.venta{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;       
}

.preypost{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.contacta{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.footer {
    padding: 40px 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

    #iconosfooter{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
}

.footer .redes {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(255, 255, 255);
}

    .footer .redes a {
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    line-height: 39.5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 9px;
    opacity: 0.75;
    background-color: rgb(255, 255, 255);
}

.footer .redes a i{
    color: rgb(255, 255, 255);
}

.footer .redes a:hover {
    opacity: 0.9;
    
    }

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    
}


.footer ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

    .footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.8;
    font-family: tresF;
}

.footer ul li a:hover {
    opacity: 1;
    color: rgb(239, 184, 16);
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-family: tresF;
}

.copyright a{
    color: rgb(239, 184, 16)
}

.copyright a:hover{
    color: rgb(239, 184, 16)
}
